@model MyWebFormApp.BLL.DTOs.UserAndRoleDTO

@{
    ViewData["Title"] = "AddUserRole";
}

<h1>AddUserRole</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <select id="Username" name="Username">
                    <option value="">Select an option</option>
                    @foreach (var user in Model.listUser)
                    {
                        <option value="@user.Username">@(user.FirstName)</option>
                    }
                </select>
                <select id="RoleId" name="RoleId">
                    <option value="">Select an option</option>
                    @foreach (var role in Model.listRole)
                    {
                        <option value="@role.RoleID">@(role.RoleName)</option>
                    }
                </select>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
